<?xml version="1.0" encoding="utf-8" ?>
<module viewEngine="Razor" clientResourceRelativePath="">
	<assemblies>
		<add assembly="GraphSearchtools" />
	</assemblies>

	<clientResources>
		<add name="graphsearchtools.css" path="ClientResources/css/graphsearchtools.css" resourceType="Style" />
		<add name="graphsearchtools.js" path="ClientResources/js/graphsearchtools.js" resourceType="Script" />
		<add name="graphsearchtools.components" path="ClientResources/js/components.js" resourceType="Script" />
	</clientResources>

	<dojo>
		<paths>
			<add name="graphsearchtools" path="ClientResources/js" />
		</paths>
	</dojo>

	<clientModule>
		<moduleDependencies>
			<add dependency="CMS" type="RunAfter" />
		</moduleDependencies>
		<requiredResources>
			<add name="graphsearchtools.css" />
			<add name="graphsearchtools.js" />
		</requiredResources>
	</clientModule>
</module>
